.app-shell {
}

.mantine-1bc15v4 {
  display: flex;
  flex-direction: column;
}

.header__text {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.user {
  display: flex;
  align-items: center;

  .item {
    &:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }
}

.arrow-logout {
  cursor: pointer;
}

.messages {
}

.messages-form {
  display: flex;
  align-items: center;
}

.texarea-input {
  width: 100%;
  padding-right: 20px;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;

  .board-item {
    margin-bottom: 1.3vh;
  }

  .board-message__text {
    max-width: 300px;
    text-align: right;
  }
}

.send-message {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  margin-top: 30px;

  .board-message__text {
    margin-right: 10px;
  }
}

.recieved-message {
  display: flex;

  .board-message__text {
    margin-left: 10px;
    text-align: left;
  }
}
