.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &__text {
    font-size: 40px;
    font-weight: 700;
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  width: 40px;
  border-radius: 5px;
  height: 40px;
}

header {
  width: 100%;
  padding: 15px 0 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    align-items: center;
    padding-left: 10px;

    &__text {
      margin-left: 10px;
    }
  }

  .burger {
    display: none;
    margin-left: 20px;
    width: 25px;
    background-color: #292929;
    height: 2px;
    position: relative;

    @media (max-width: 767px) {
      display: block;
    }

    &::before,
    &::after {
      content: "";
      width: 25px;
      background-color: #292929;
      height: 2px;
      position: absolute;
    }

    &::before {
      top: -7px;
    }

    &::after {
      top: 7px;
    }
  }

  .dark-mode__burger {
    background-color: #fff;

    &::after,
    &::before {
      background-color: #fff;
    }
  }

  .active-burger {
    background: none;
    &::before {
      transform: rotate(45deg);
      top: 0;
      transition: 0.3s transform ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 0;
      transition: 0.3s transform ease-in-out;
    }
  }

  .header {
    &__dark-switcher {
      margin-right: 30px;
    }

    &__logo-burger {
      display: flex;
      align-items: center;
    }
  }
}

main {
  margin-left: 400px;
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  @media (max-width: 991px) {
    margin-left: 300px;
  }
  @media (max-width: 767px) {
    margin: 0;
  }
}

.navbar {
  position: fixed;
  left: 0;
  background-color: #fff;
  border-right: 1px solid #cccccc;
  width: 400px;
  z-index: 11;
  @media (max-width: 991px) {
    width: 300px;
  }
  @media (max-width: 767px) {
    transform: translateX(-100%);
    transition: transform 0.6s ease-in-out;
    border: none;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .registered-users {
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    height: 100%;
    padding: 20px 0 0 15px;

    .registered-user {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin: 0 0 20px 0;
      }

      &__info {
        margin-left: 10px;
      }
    }
  }

  .navbar-user {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 80px;
    padding-bottom: 15px;

    .user {
      display: flex;
      align-items: center;
    }

    .item:not(:last-child) {
      margin: 0 10px 0 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    width: 100%;
  }
  .navbar-open {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
}

.popover {
  position: relative;
  &__dropdown {
    position: absolute;
    top: -50px;
    left: -40px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: none;
    @media (max-width: 365px) {
      left: -50px;
    }
    @media (max-width: 333px) {
      left: -60px;
    }

    .btn {
      background-color: rgb(223, 70, 70);
      color: #fff;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
    }
  }

  .active-dropdown {
    display: flex;
  }
}

.messages {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 85px;

  &__input {
    width: 100%;
    height: 60px;
    padding: 8px 0 0 8px;
    border: 1px solid #cccc;
  }

  .form-button {
    background-color: #0f54ae;
    padding: 20px 30px 20px 30px;
    color: #fff;
    font-weight: 700;
  }
}

.board {
  display: flex;
  flex-flow: column;
  width: 1300px;
  margin: 0 auto;
  max-width: 100%;
  overflow-y: auto;
  height: 100%;
  @media (max-width: 767px) {
    width: 100%;
  }
  .board-item {
    max-width: 400px;

    @media (max-width: 445px) {
      max-width: 300px;
    }
  }

  .item {
    margin-right: 10px;
    &__name {
      font-size: 14px;
      font-weight: 700;
    }
    &__text {
      margin-top: 5px;
      background-color: #0f54ae;
      padding: 10px;
      color: #fff;
      border-radius: 30px;
      text-align: left;
      width: 300px;
      max-width: 100%;
      word-wrap: break-word;
      @media (max-width: 500px) {
        width: 230px;
      }
    }
  }
}

.send-message {
  display: flex;
  margin: 0 0 0 auto;
  align-items: center;
  flex-direction: row-reverse;
  &:not(:last-child) {
    margin: 50px 0 20px auto;
  }

  .board-message__text {
    margin-right: 10px;

    .item__name {
      padding-right: 10px;
      text-align: right;
    }
    .item__text {
      float: right;
    }
  }
}

.recieved-message {
  display: flex;
  margin-top: 30px;

  align-items: center;

  .board-message__text {
    margin-left: 10px;

    .item__name {
      padding-left: 10px;
      text-align: left;
    }
    .item__text {
      float: left;
    }
  }
}

.emojie-picker {
  position: absolute;
  right: 100px;
  display: flex;
  align-items: center;
  height: 100%;
}

em-emoji-picker {
  position: absolute;
  right: 0;
  top: -368px;
  height: 40vh;
  max-width: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

.not-selected-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  font-size: 50px;
  font-weight: 700;

  @media (max-width: 991px) {
    font-size: 30px;
  }

  @media (max-width: 445px) {
    font-size: 30px;
  }
}

.no-messages-yet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 30px;
  opacity: 0.8;
  font-weight: 700;
}

//DarkMode

.elements-dark {
  background-color: #212121;
  color: #fff;
  border: 0;

  textarea {
    background-color: #212121;
    color: #fff;
    border: 0;
  }
}

.board-dark {
  background-color: #292929;
  color: #fff;
}
